page-forgot-password {

  .no-scroll .scroll-content{
      overflow: hidden;
  }

  button.disable-hover.item-button.button.button-ios.button-default.button-default-ios.button-full.button-full-ios {
      padding: 20px;
  }

  .term {
    padding-top: 20px;
  }

  .terms-checkbox-label {
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
  }

  .alert{
    color: red;
  }
}
